.img{
    width: 400px;
    height: 400px;
    margin-top: 100px !important;
    margin-left: 50px !important;
    border-radius: 14px;
}
.marco{
    width: 500px;
    height: 500px;
    
    margin: auto;
    margin-bottom: 10px;
    
  
  
}
.boton{
    float: left !important;
    margin: 20px;
    background: crimson;
    color: whitesmoke;
    width: 65px;
    height: 65px;
    border-radius: 70px;
    border: 5px solid white;
}
.boton:hover{
    float: left !important;
    margin: 20px;
    background: gray;
    color: black;
    text-shadow: 1px 1px 1px #CCC;
    width: 65px;
    height: 65px;
    border-radius: 70px;
    border: none;
}
.boton:active{
    float: left !important;
    margin: 20px;
    background: whitesmoke;
    color: whitesmoke;
    width: 65px;
    height: 65px;
    border-radius: 70px;
    border: none;
    text-shadow: 1px 1px 1px black;
}
.boton1{
    float: left !important;
    margin: 20px;
    background: limegreen;
    color: whitesmoke;
    width: 65px;
    height: 65px;
    border-radius: 70px;
    border: 5px solid white;
}
.boton1:hover{
    float: left !important;
    margin: 20px;
    background: gray;
    color: black;
    text-shadow: 1px 1px 1px #CCC;
    width: 65px;
    height: 65px;
    border-radius: 70px;
    border: none;
}
.boton1:active{
    float: left !important;
    margin: 20px;
    background: whitesmoke;
    color: whitesmoke;
    width: 65px;
    height: 65px;
    border-radius: 70px;
    border: none;
    text-shadow: 1px 1px 1px black;
}
    
    

body{
    background: saddlebrown;
}
.datos{
    width: 380px;
    height: 100px;
    margin: auto;
    padding: 10px;
    background: #CCC;
    opacity: 0.7;
    border-radius: 11px;
}
p{
    font-weight: bold;
    margin: 10px;
}
.conteo{
    width: 70px;
    height: 70px;
    float: right;
    
}